body{
    margin: 0;

    /* color variables */
    --left-column-bg: #C0E8F9;
    --right-column-bg: #FFFBD6;
    --header-text: #A30000;
    --pop-out: #FF5757;
    --body-text: #A89F68;
    --selected-text: #F4F4F4;
    --other-header: #A89F68;
}
.header-font{
    font-family: 'Montserrat Subrayada', sans-serif;
}
.bold-font{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.body-font{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#main-container{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 2%;

    height: 90%;
    padding-top: 2%;
    padding-left: 25%;
    padding-right: 25%;
}
#left-column{
    display: grid;
    grid-template-rows: repeat(5, 10%);
    padding: 5%;
    
    background-color: var(--left-column-bg);
}
#right-column{
    height: auto;
    padding: 5%;
    background-color: var(--right-column-bg);
}

#home{
    /* display: none; */
}
h1{
    font-family: 'Roboto', sans-serif;
    color: var(--pop-out);
    font-size: 2vw;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--header-text);
}
h2 a{
    text-decoration: none;
    color: var(--header-text);

}
#left-column h2:hover{
    cursor: pointer;
}
p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#right-column h2{
    padding-top: 7%;
}
.contact-inline{
    text-decoration: underline;
}
.contact-inline:hover{
    cursor: pointer;
}

#about{
    display: none;
}
#about img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;

    border-top: var(--pop-out) .8em solid;
    border-right: var(--pop-out) .8em solid;
    border-radius: 3%;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--other-header);
    font-size: 1em;
}
h3 span{
    color: var(--body-text);
}
#about p a{
    color: var(--body-text);
}

#contact{
    display: none;
}
#contact p a{
    color: var(--body-text);
}
#connect-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    justify-items: center;

    padding: 2%;
    border-top: var(--pop-out) .3em solid;
    border-right: var(--pop-out) .3em solid;
    border-bottom: var(--pop-out) 1em solid;
    border-left: var(--pop-out) 1em solid;
    border-radius: 3%;

}
#connect-container a{
    width: 40%;
}
a img{
    width: 100%;
}
#resume{
    display: none;
    width: 100%;
    height: 100%;
}
#resume-display{
    width: 100%;
    height: 100%;
}

.side-links{
    width: 100%;
    height: auto;
    padding: 2%;
    padding-left: 10%;
}
.side-links:hover, .active-tab{
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
    height: fit-content;

    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;

    background-color: var(--pop-out);
    color: var(--selected-text);
}

/* Mobile-friendly CSS */
@media screen and (max-width: 1300px){
    body{
        overflow-x: hidden;
        margin: 0;
    } 
    #main-container{
        display: grid;
        box-sizing: border-box;
        grid-template-rows: auto 1fr;
        grid-template-columns: none;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    #left-column{
        width: 100%;
        height: fit-content;

        display: grid;
        grid-template-columns: 15% repeat(4, auto);
        grid-template-rows: none;
        column-gap: 3%;
        padding: 5%;
        padding-bottom: 0;
        align-items: end;
    }
    h1{
        font-size: 5vw;
        height: auto;
    }
    h2{
        font-size: 4vw;
    }
    h3{
        font-size: 3.5vw;
    }
    .side-links{
        height: fit-content;
        margin: 0;
        padding: 15%;
        padding-bottom: 0;
    }
    .side-links:hover, .active-tab{
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 60% 75%, 50% 93%, 40% 75%, 0% 75%);

        height: 25%;
        width: fit-content;
        padding: 15%;
        transform: translateY(25%);
    
        border-radius: 1em;
    
        background-color: var(--pop-out);
        color: var(--selected-text);
    }
    #right-column{
        width: 100%;
        height: 100%;
    }
    p{
        font-size: 3.5vw;
    }
}